html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/* --- Gestion de l'état de connexion --- */

/* Par défaut, on est déconnecté */
#content-container { display: none; }
#auth-container { display: block; }

/* Quand on est connecté */
body.logged-in #content-container { display: flex; }
body.logged-in #auth-container { display: none; }

/* --- Styles généraux --- */

#auth-container .row {
    min-height: 100vh;
}

#content-container {
    min-height: 100vh;
}
